<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>3C5F70BD-E023-4926-B56F-0E8D5C5C9610</key>
		<array>
			<string>2BF5346F-B907-46BD-937D-26893F9200D8</string>
			<string>B808BCAD-8BCD-440D-ACD7-1C502CEBEF94</string>
		</array>
		<key>88D5010B-CEF7-45F5-8D83-575F0BBA0A42</key>
		<array>
			<string>D21BA91E-2D0F-4F85-AFEC-807FB3C625EE</string>
		</array>
		<key>9CC37990-EC42-4B5C-8420-52DBEF214B94</key>
		<array>
			<string>EAA594B5-0C7F-417A-9BF4-BBBED9F4381B</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>D4509A7C-2354-48F1-9908-9439E1F7E866</key>
		<dict>
			<key>BinderUUID</key>
			<string>D4509A7C-2354-48F1-9908-9439E1F7E866</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 693 475 522 0 0 2560 1417 </string>
		</dict>
		<key>D6A13B52-F190-4530-9C60-7D4C6DCDE628</key>
		<dict>
			<key>BinderUUID</key>
			<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>841 693 676 522 0 0 2560 1417 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>2</integer>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>1</integer>
		<key>Title</key>
		<string>Original</string>
	</dict>
	<key>ScrivenerLinkDestinationGroupID</key>
	<integer>29</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {272, 791}}</string>
		<string>{{273, 0}, {859, 791}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>888F1919-172B-4C86-AF9C-3EBCAE603299</string>
		<string>A1BC1A79-3BDD-4104-A4F7-41E52F1684A0</string>
		<string>398EC73D-DB7D-4A02-B4D8-6B0346481CD9</string>
		<string>D765AB88-FA38-4BC1-A382-5F8BD522716F</string>
		<string>F2968F47-5EA1-4A63-8BA6-692417090906</string>
		<string>63A04606-91B3-40DB-BCA7-68D34E6EFDF5</string>
		<string>2D024F70-118E-438A-9E61-75A4F102AAF2</string>
		<string>F08E3C9D-EFEE-433A-BF98-5C667E96825A</string>
		<string>C19C143F-1BCA-4008-AEF6-82E30C58689D</string>
		<string>9B22CD78-8B79-4A79-84DC-5D485CF9CC5D</string>
	</array>
	<key>binderWidth</key>
	<real>272</real>
	<key>bookmarksNotesMode</key>
	<integer>0</integer>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>bookmarksSelection</key>
	<dict>
		<key>D21BA91E-2D0F-4F85-AFEC-807FB3C625EE</key>
		<integer>0</integer>
		<key>D4509A7C-2354-48F1-9908-9439E1F7E866</key>
		<integer>0</integer>
		<key>E7DB0738-0BBB-4E6B-B7FB-64227742B570</key>
		<integer>0</integer>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {272, 115}}</string>
		<string>{{0, 116}, {272, 619}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>corkboardShowLabels</key>
	<false/>
	<key>corkboardShowStatusStamps</key>
	<false/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {859, 380}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>870</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>textScaleFactor</key>
		<real>1.25</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>indexCardsUseSmallFont</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.4423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>4</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 781}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.QTBackTrack</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.cardWidth</key>
	<real>214.89898681640625</real>
	<key>mainDocumentEditor.cardsAcross</key>
	<integer>3</integer>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>sectionType</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>59</real>
			<key>characters</key>
			<real>79</real>
			<key>createdDate</key>
			<real>78</real>
			<key>includeInExport</key>
			<real>109</real>
			<key>label</key>
			<real>123</real>
			<key>modifiedDate</key>
			<real>82</real>
			<key>progress</key>
			<real>55</real>
			<key>sectionType</key>
			<real>77</real>
			<key>status</key>
			<real>104</real>
			<key>targetCount</key>
			<real>55</real>
			<key>targetCountType</key>
			<real>71</real>
			<key>title</key>
			<real>415</real>
			<key>totalCharacters</key>
			<real>108</real>
			<key>totalProgress</key>
			<real>84</real>
			<key>totalTargetCount</key>
			<real>84</real>
			<key>totalWords</key>
			<real>84</real>
			<key>words</key>
			<real>55</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerState</key>
	<array/>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 705}}</string>
	<key>mainDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.selectedTextRanges</key>
	<string>0,0</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>1 604 1132 813 0 0 2560 1417 </string>
	<key>metaDataModeAutosaveName</key>
	<integer>0</integer>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>revisionMode</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>270</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showsInspectorFootnoteNumbering</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.affectsMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
	</array>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>214.89898681640625</real>
	<key>supportingDocumentEditor.cardsAcross</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.corkboardVisible</key>
	<false/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>2</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>398EC73D-DB7D-4A02-B4D8-6B0346481CD9</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>63A04606-91B3-40DB-BCA7-68D34E6EFDF5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>sectionType</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>59</real>
			<key>characters</key>
			<real>79</real>
			<key>createdDate</key>
			<real>78</real>
			<key>includeInExport</key>
			<real>109</real>
			<key>label</key>
			<real>119.1171875</real>
			<key>modifiedDate</key>
			<real>82</real>
			<key>progress</key>
			<real>55</real>
			<key>sectionType</key>
			<real>77</real>
			<key>status</key>
			<real>81.66796875</real>
			<key>targetCount</key>
			<real>55</real>
			<key>targetCountType</key>
			<real>71</real>
			<key>title</key>
			<real>419</real>
			<key>totalCharacters</key>
			<real>108</real>
			<key>totalProgress</key>
			<real>84</real>
			<key>totalTargetCount</key>
			<real>84</real>
			<key>totalWords</key>
			<real>84</real>
			<key>words</key>
			<real>55</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>supportingDocumentEditor.outlinerState</key>
	<array>
		<string>A1BC1A79-3BDD-4104-A4F7-41E52F1684A0</string>
		<string>398EC73D-DB7D-4A02-B4D8-6B0346481CD9</string>
		<string>63A04606-91B3-40DB-BCA7-68D34E6EFDF5</string>
		<string>2D024F70-118E-438A-9E61-75A4F102AAF2</string>
		<string>F08E3C9D-EFEE-433A-BF98-5C667E96825A</string>
	</array>
	<key>supportingDocumentEditor.outlinerVisible</key>
	<false/>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {834, 592}}</string>
		<string>{{0, 593}, {834, 593}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
</dict>
</plist>
